body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: #222;
    color: #ddd;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1000px;
    background-color: #333;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

h1,
h2 {
    margin: 0;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.search,
.upload {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#search-query,
#custom-labels {
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-color: #444;
    color: #ddd;
}

#search-button,
#upload-button {
    padding: 1rem 2rem;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.upload form label {
    margin-top: 0.5rem;
}

.image-container {
    width: 100%;
    margin-top: 2rem;
    aspect-ratio: 16/9;
    border-radius: 5px;
}
